div.icon-button {
	position: relative;
	display: flex;
	height: 50px;
	width: 50px;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	i.material-icons {
		font-size: 25px;
		line-height: 50px;
		z-index: 1;
		color: $color-primary;
	}
	&:before {
		position: absolute;
		left: 7px;
		top: 7px;
		height: 36px;
		width: 36px;
		border-radius: 18px;
		background: $color-highlight;
		content: "";
		transform-origin: center;
		transform: scale( 0 );
		opacity: 0;
		transition: transform $animation-speed, opacity $animation-speed;
	}
	&.active:before,
	&:active:before {
		transform: scale( 1 );
		opacity: 1;
	}
}
