.search-field {
	display: flex;
	height: 100%;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	.highlight {
		height: 1px;
		width: calc( 100% - 30px );
		background: $color-primary;
		transform: scaleX(0);
		transition: transform $animation-speed, opacity $animation-speed;
		opacity: 0;
		margin-top: 3px;
		margin-bottom: 10px;
	}
	.search-icon {
		align-items: center;
		display: flex;
		padding-left: 12px;
		padding-top: 13px;
		font-size: 24px;
	}
	input {
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		height: 30px;
		flex-grow: 1;
		outline: none;
		border: 0;
		background: transparent;
		padding: 0;
		margin: 10px 15px 0px 5px;
		&::placeholder {
			color: $color-text;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			opacity: 1;
			transition: opacity $animation-speed;
		}
		&:focus::placeholder {
			opacity: 0;
		}
	}
	input:focus ~ .highlight {
		transform: scaleX(1);
		opacity: 1;
	}
}
