.editor-header {
	display: flex;
	background: $color-white;
	flex-wrap: nowrap;
	cursor: default;
	h1 {
		flex-grow: 1;
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		margin: 10px;
		line-height: 30px;
		pointer-events: none;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 330px;
	}
}
