.import {
	position: absolute;
	display: flex;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	transition: all $animation-speed;
	transform: rotateY( -90deg );
	transform-origin: 100% 50%;
	&.active {
		transition: all $animation-speed;
		transform: rotateY( 0deg );
	}
	.whitespace {
		min-width: 50px;
		max-width: 50px;
	}
	.panel {
		flex-grow: 1;
		background: white;
		box-shadow: 0 0 30px 5px rgba( 0, 0, 0, 0.12 ),
					0 0 24px 2px rgba( 0, 0, 0, 0.14 ),
					0 0 10px -5px rgba( 0, 0, 0, 0.20 );
	}
	.fields {
		display: flex;
		flex-wrap: wrap;
		> * {
			margin: 0 20px 10px 20px;
			width: 100%;
		}
		.options {
			display: flex;
		}
		.submit {
			margin: 0 20px;
			width: calc( 100% - 40px );
			background: $color-primary;
			span {
				color: #FFF;
			}
			&:hover {
				background: darken( $color-primary, 10% );
			}
		}
	}
}
