$color-white: #FFFFFF;
$color-primary: #4B4B4B;
$color-text: $color-primary;
$color-text-disabled: #BBBBBB;
$color-shadow: rgba( 0, 0, 0, 0.5 );
$color-highlight: #F5F5F5;
$color-accent: #FFCC33;
$color-gray: #EEEEEE;
$animation-speed: 200ms;
